$frost: linear-gradient(65deg, #aed7f3 , #124679, #aed7f3)
$orange: #f1912a
$bgreen: #5ae9cb
h2, h3
  font-family: 'Catamaran', sans-serif
.wrapper
  max-width: 1150px
  margin: 0 auto
  padding: 0 2em
.white
  background-color: #fff
.list-services
  background-color: rgba(#ffffff, 0.75)
  color: black
hr
  width: 50em
.content-title
  padding-bottom: .5em

body
  background: $frost
  box-sizing: border-box
  font-family: 'Open Sans Condensed', sans-serif
  #main-nav
    background-color: transparent
    border: 0px solid transparent
    margin-bottom: 0
    height: 5em
    transition: all 0.9s ease
    font-family: 'Montserrat', sans-serif
    .navbar-brand
      padding: 0
      #logo
        width: 10em
        opacity: .95
        transition: all 0.3s ease
        padding-bottom: .75em
      #brand-name
        position: relative
        left: -5em
        color: white
        font-size: 1.4em
        text-shadow: 2px 3px 2px black
        transition: all 0.3s ease!important
    .collapse
      height: 100%
      ul li a
        height: 6em
        padding: 2em .75em 1em .75em
        transition: all 0.3s ease
        text-shadow: 1px 1px 1px white
        transition: all 0.3s ease
      .active a
        background-color: rgba(214, 214, 214, 0.75)
        border-bottom: 8px solid white
        transition: all 0.4s ease
  #chatsworth-dental-carousel
    padding: 0
    box-shadow: 0px 15px 30px black
    border-bottom: 1px solid white
    .carousel-indicators
      li
        width: 10px
        height: 4px
        border-radius: 1.5px

      .active
        width: 10px
        height: 10px
        background-color: rgba(#ffffff, 0.75)
        transition: all 0.3s ease
  .carousel-fade
    .carousel-inner
      // .item
      //   transition-property: opacity
      //   opacity: .75
      // .active
      //   &.left, &.right
      //     opacity: 0
      //   opacity: 1
      // .next.left, .prev.right
      //   opacity: 1
      background-color: white
      height: 80vh
      .image-1
        background: url(../images/mother-daughter-smile.jpg) no-repeat center center
          size: cover
        height: 80vh
      .image-2
        background: url(../images/family-street-smile.jpg) no-repeat center center
          size: cover
        height: 80vh
      .image-3
        background: url(../images/kid-smile.jpg) no-repeat center center
          size: cover
        height: 80vh
      .carousel-images
        width: 100vw
        height: 80vh
      .carousel-caption
        bottom: 35%
        font-family: 'Bilbo Swash Caps', cursive
        padding: 0
        h2
          font-size: 4em
        h3
          font-size: 2.5em
      #first-caption
        bottom: 10%
        h3
          margin: 0
  .container-fluid
    #testimonials
      padding-top: 5em
      padding-bottom: 4em
      background: linear-gradient(to top right, rgba(252, 252, 252, 0.85), rgba(252, 252, 252, 0.85)),  url(../images/dentist-chair.jpg)
        size: cover
        attachment: fixed
      .testimonials
        position: relative
        z-index: 3
        color: black
        text-shadow: 1px 1px 2px $bgreen
        transform: translateY(-20px)
        opacity: 0
        transition: all 0.3s ease-in-out
        &.is-showing
          opacity: 1
          transform: translateY(0px)
        .fa
          color: $orange
        .text-bubble
          position: absolute
          width: 4.75em
          left: 50%
          top: -.05em
          transform: translateX(-50%)
          z-index: -1
          opacity: .45
          border-radius: 1em
        .text-bubble-1
          position: absolute
          width: 7.5em
          left: 50%
          top: -.15em
          transform: translateX(-50%)
          z-index: -1
          opacity: .45
        .patient-name
          position: relative
        .testimonial
          background-color: white
          border: 1px solid black
          padding: 2.5em 1.75em
          box-shadow: 0px 0px 10px black
        .testimonial-customer
          border: 1px solid black
          color: white
          text-shadow: 1px 1px 1px $orange
          margin-top: .25em
          padding: .5em .7em
          background-color: rgba(#2cb3d1, 0.77)
          box-shadow: 0px 3px 10px black
          border-radius: 0px 0px 5px 5px
    #services
      padding-top: 7.5em
      padding-bottom: 5.25em
      color: white
      .services-video-section
        padding-bottom: 2em
        #services-image
          border: .75px solid white
          box-shadow: 0px 40px 55px -25px black
        .services-text
          p
          line-height: 1.8em
      .listed-services
        padding-left: 15px
        padding-right: 15px
        .tooth-heart
          padding: 0 .5em
        span
          font-size: 1.2em
    #team
      color: white
      p
        font-size: 1.2em
      #staff-image
        padding-top: 3em
        padding-bottom: 2.5em
        width: 100%
        img
          width: 100%
          border-radius: .25em .25em 1em 1em
          border: 1px solid white
      .mishra-dr
        width: 15em
.shrink
  background: linear-gradient(to bottom, rgb(234, 125, 7), transparent)!important
  border: 0px solid red!important
  transition: all 0.9s ease!important
  #brand-name
    left: -5em!important
    transition: all 0.3s ease!important
  #logo
    width: 7em!important
    transition: all 0.3s ease!important
  .collapse
    ul li a
      height: 5em!important
      padding: 1.5em 1em 1em 1em!important
      transition: all 0.3s ease!important
